<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL Blogs</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    
    <header>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
        <span></span>
    </div>
    <h1 class="page-title">ブログ記事一覧</h1>

    <nav class="nav-menu" id="nav-menu">
        <ul>
            <li><a href="/blogs">一覧に戻る</a></li>
            <li><a href="/blogs/new">新規作成</a></li>
        </ul>
    </nav>
</header>

<main>
    <br>
    <div th:if="${blogList != null}">
        <ul class="blog-container">
            <li th:each="blog : ${blogList}" style="list-style: none;">
                <a th:href="@{/blogs/{id}(id=${blog.id})}" 
                       th:text="${blog.title}">
                       タイトル
                    </a>
            </li>
        </ul>
    </div>
</main>

<script th:src="@{/js/script.js}"></script>
</body>
</html>